
<h2 *ngIf="itemList.length==0">empy</h2>
<div class="myDiv">  
    <ul class="list-group">   
        <li class="list-group-item" *ngFor="let item of itemList.reverse()" >{{item.name}} 
             <button class="input-group-text ml-auto mr-1" style="float: right;" (click)="onClickDelete(item.id)">Delete</button> 
             <button class="input-group-text ml-auto mr-1" style="float: right;" (click)="onClickEdit(item.id, item.name)">Edit</button> 
        </li>  
    </ul>  
</div>
<br>
<button class="input-group-text" (click)="onClickDeleteAll()">Delete all</button>